<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AGPLab1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AGPLab3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AGPLab4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BlockGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F21781918080B8500FA332F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F4502CA17F5A1C5008A54D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F8A8E49184879E700248801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB582BC18115148002C1795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE07DEC17FEABBA00007251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
